@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

a:hover {}

ul {
    list-style: none;
}

.body {
    font-family: 'Noto Sans KR', sans-serif;
}

.title {
    display: flex;
    margin: 0 auto;
    width: 1600px;
    /* background-color: aquamarine; */
    height: 70px;
}

.head {
    background-color: #0050a0;
    width: 182px;
    height: 160px;
    margin: 0 0 0 199px; 
}



.head img {
    width: 74px;
    margin: 30px 0 0 55px;
}

.head h1 {
    color: #f3f7fb;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu {}

.menu ul {
    display: flex;
    padding: 24px 30px;
}

.menu ul li a {
    margin: 35px;
    color: #666666;
}

.lan {
    display: flex;    
}

.lan p {
    margin-top: 24px;
    color: #666666;
}

.lan .line {
    border-right: 1px solid #666666;
    margin-bottom: 115px;
    margin-left: 20px;
    margin-right: 20px;
} 
.lan img { 
    width: 33px;
    height: 33px;
    margin: 10px;
}

.container {
    width: 1600px;
    height: 786px;
    background: rgb(91,123,198);
    background: linear-gradient(180deg, rgba(91,123,198,1) 0%, rgba(184,172,218,1) 84%, rgba(69,132,227,1) 100%);
    margin: 0 auto;
}

.container h1 {
    font-size: 90px;
    color: #ffffff;
    text-align: center;
    padding-top: 90px;
}

.container h2 {
    /* 2022.12.17.토. 광안리해수욕장 일원 */
    font-size: 36px;
    color: #ffffff;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 60px;
}

.container .woro {
    display: flex;
}

.container .line_02 {
    margin-top: 20px;
    margin-left: 300px;
    width: 410px;
    height: 1px;
    background-color: #f3f7fb;
}

.container .woro .wbox {
    width: 183px;
    height: 52px;
    background-color: #f6f7f9;
    border-radius: 52px;
}

.container .woro .wbox h3 {
    color: #3551b4;
    text-align: center;
    font-size: 30px;
}

.container .line_03 {
    margin-top: 20px;
    width: 410px;
    height: 1px;
    background-color: #f3f7fb;
}

.container h4 {
    padding-top: 60px;
    color: #fdffff;
    font-size: 36px;
    text-align: center;
    padding-bottom: 30px;
}

.container p {
    font-size: 30px;
    color: #ffffff;
    text-align: center;
}